td {
 width: 32px;
 height: 32px;
 text-align: center;
}
.zero {
 background:black;
 color:white;
}
.one {
 background:#964B00;
 color:white;
}
.two {
 background:#FF0000;
 color:white;
}
.three {
 background:#FFA500;
}
.four {
 background:#FFFF00;
}
.five {
 background:#9ACD32;
}
.six {
 background:#6495ED;
}
.seven {
 background:#EE82EE;
}
.eight {
 background:#A0A0A0;
}
.nine {
 background:#FFFFFF;
}
.gold {
 background:#CFB53B;
}
.silver {
 background:#C0C0C0;
}
